#principa{
    height: 80vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
   /* background: linear-gradient(to bottom right, rgb(219, 7, 243),blue, #c98406);*/
}

