.link{
    text-decoration: none;
    color: #f4f4f4;
}

.section1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 10vh;
    gap: 8vw;
    margin: 0;
    padding: 0;
    margin-bottom: 5vh;
    background-color: #333;
}

.card{
    width: 18rem;
    
}

.div{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 5vh;
}

.main{
    
}